.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.959961;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-1948.244943px;}
._5{margin-left:-1201.376763px;}
._1{margin-left:-1198.255181px;}
._0{margin-left:-776.347710px;}
._2{margin-left:-5.746494px;}
._3{width:1.678200px;}
._7{width:507.209637px;}
._4{width:1006.259672px;}
.fc0{color:rgb(255,255,255);}
.fc4{color:rgb(242,242,242);}
.fc1{color:rgb(165,165,165);}
.fc2{color:rgb(0,0,0);}
.fc3{color:rgb(217,217,217);}
.fs9{font-size:64.000000px;}
.fs8{font-size:101.559998px;}
.fs1{font-size:112.000000px;}
.fs4{font-size:128.000000px;}
.fs2{font-size:160.000000px;}
.fs3{font-size:168.000000px;}
.fs7{font-size:185.880005px;}
.fs6{font-size:203.080002px;}
.fs5{font-size:216.000000px;}
.fs0{font-size:380.800018px;}
.y0{bottom:0.000000px;}
.y37{bottom:8.304480px;}
.y12{bottom:210.818329px;}
.y11{bottom:249.218353px;}
.y10{bottom:287.618378px;}
.y1c{bottom:290.002533px;}
.yf{bottom:326.018402px;}
.y1b{bottom:328.402557px;}
.y23{bottom:328.672729px;}
.y32{bottom:349.188721px;}
.y34{bottom:363.485199px;}
.y36{bottom:363.632942px;}
.ye{bottom:364.418427px;}
.y1a{bottom:366.802582px;}
.y22{bottom:367.072723px;}
.y2c{bottom:369.693748px;}
.y30{bottom:392.749641px;}
.y33{bottom:393.953197px;}
.y35{bottom:394.100943px;}
.y31{bottom:394.656719px;}
.yd{bottom:402.818451px;}
.y1{bottom:404.271118px;}
.y19{bottom:405.202606px;}
.y21{bottom:405.472729px;}
.y2b{bottom:425.457748px;}
.yc{bottom:441.218445px;}
.y18{bottom:443.602600px;}
.y26{bottom:461.502197px;}
.yb{bottom:479.618439px;}
.y17{bottom:482.002594px;}
.y25{bottom:499.902191px;}
.ya{bottom:518.018433px;}
.y16{bottom:520.402588px;}
.y24{bottom:538.302197px;}
.y9{bottom:556.418427px;}
.y15{bottom:558.802582px;}
.y8{bottom:594.818420px;}
.y14{bottom:597.202576px;}
.y7{bottom:633.218426px;}
.y13{bottom:635.602581px;}
.y4{bottom:687.839691px;}
.y6{bottom:689.998981px;}
.y2a{bottom:691.395897px;}
.y20{bottom:699.607254px;}
.y5{bottom:736.816212px;}
.y2{bottom:816.483324px;}
.y3{bottom:818.115213px;}
.y29{bottom:818.427181px;}
.y28{bottom:818.656237px;}
.y27{bottom:818.739149px;}
.y1e{bottom:819.008520px;}
.y1f{bottom:819.017418px;}
.y2f{bottom:819.747103px;}
.y1d{bottom:819.919622px;}
.y2d{bottom:820.279150px;}
.y2e{bottom:820.811197px;}
.hc{height:48.125000px;}
.hb{height:76.368358px;}
.h3{height:84.218750px;}
.h6{height:96.250000px;}
.h4{height:109.375000px;}
.h5{height:126.328125px;}
.h8{height:138.824220px;}
.h9{height:139.773051px;}
.h7{height:147.656250px;}
.ha{height:162.421875px;}
.h2{height:253.804700px;}
.h0{height:856.750000px;}
.h1{height:857.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x7{left:19.988342px;}
.x8{left:25.522461px;}
.x1e{left:33.817795px;}
.xd{left:37.823685px;}
.xf{left:93.093155px;}
.x10{left:99.468155px;}
.xe{left:174.655655px;}
.x18{left:322.847954px;}
.x4{left:324.299980px;}
.xb{left:328.908318px;}
.x1a{left:399.841095px;}
.x22{left:446.096535px;}
.x21{left:460.284035px;}
.x25{left:494.152489px;}
.x17{left:496.065392px;}
.xa{left:497.244591px;}
.x1c{left:501.356468px;}
.x14{left:537.715286px;}
.x19{left:551.090393px;}
.x1b{left:556.841080px;}
.x15{left:558.152786px;}
.x2{left:606.395416px;}
.xc{left:610.172943px;}
.x1d{left:612.065155px;}
.x16{left:684.402786px;}
.x23{left:692.694733px;}
.x24{left:731.819733px;}
.x1{left:798.603394px;}
.x3{left:836.084190px;}
.x5{left:869.598450px;}
.x9{left:873.698730px;}
.x1f{left:983.054436px;}
.x20{left:990.679440px;}
.x12{left:1084.748520px;}
.x13{left:1115.498520px;}
.x11{left:1190.686020px;}
.x6{left:1260.615883px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-2597.659924pt;}
._5{margin-left:-1601.835684pt;}
._1{margin-left:-1597.673574pt;}
._0{margin-left:-1035.130280pt;}
._2{margin-left:-7.661992pt;}
._3{width:2.237601pt;}
._7{width:676.279516pt;}
._4{width:1341.679563pt;}
.fs9{font-size:85.333333pt;}
.fs8{font-size:135.413330pt;}
.fs1{font-size:149.333333pt;}
.fs4{font-size:170.666667pt;}
.fs2{font-size:213.333333pt;}
.fs3{font-size:224.000000pt;}
.fs7{font-size:247.840007pt;}
.fs6{font-size:270.773336pt;}
.fs5{font-size:288.000000pt;}
.fs0{font-size:507.733358pt;}
.y0{bottom:0.000000pt;}
.y37{bottom:11.072639pt;}
.y12{bottom:281.091105pt;}
.y11{bottom:332.291138pt;}
.y10{bottom:383.491170pt;}
.y1c{bottom:386.670044pt;}
.yf{bottom:434.691203pt;}
.y1b{bottom:437.870076pt;}
.y23{bottom:438.230306pt;}
.y32{bottom:465.584961pt;}
.y34{bottom:484.646932pt;}
.y36{bottom:484.843923pt;}
.ye{bottom:485.891235pt;}
.y1a{bottom:489.070109pt;}
.y22{bottom:489.430298pt;}
.y2c{bottom:492.924998pt;}
.y30{bottom:523.666189pt;}
.y33{bottom:525.270930pt;}
.y35{bottom:525.467923pt;}
.y31{bottom:526.208959pt;}
.yd{bottom:537.091268pt;}
.y1{bottom:539.028158pt;}
.y19{bottom:540.270142pt;}
.y21{bottom:540.630305pt;}
.y2b{bottom:567.276998pt;}
.yc{bottom:588.291260pt;}
.y18{bottom:591.470133pt;}
.y26{bottom:615.336263pt;}
.yb{bottom:639.491252pt;}
.y17{bottom:642.670125pt;}
.y25{bottom:666.536255pt;}
.ya{bottom:690.691243pt;}
.y16{bottom:693.870117pt;}
.y24{bottom:717.736262pt;}
.y9{bottom:741.891235pt;}
.y15{bottom:745.070109pt;}
.y8{bottom:793.091227pt;}
.y14{bottom:796.270101pt;}
.y7{bottom:844.291234pt;}
.y13{bottom:847.470108pt;}
.y4{bottom:917.119588pt;}
.y6{bottom:919.998642pt;}
.y2a{bottom:921.861196pt;}
.y20{bottom:932.809672pt;}
.y5{bottom:982.421616pt;}
.y2{bottom:1088.644432pt;}
.y3{bottom:1090.820285pt;}
.y29{bottom:1091.236242pt;}
.y28{bottom:1091.541649pt;}
.y27{bottom:1091.652199pt;}
.y1e{bottom:1092.011360pt;}
.y1f{bottom:1092.023224pt;}
.y2f{bottom:1092.996137pt;}
.y1d{bottom:1093.226163pt;}
.y2d{bottom:1093.705533pt;}
.y2e{bottom:1094.414930pt;}
.hc{height:64.166667pt;}
.hb{height:101.824477pt;}
.h3{height:112.291667pt;}
.h6{height:128.333333pt;}
.h4{height:145.833333pt;}
.h5{height:168.437500pt;}
.h8{height:185.098960pt;}
.h9{height:186.364067pt;}
.h7{height:196.875000pt;}
.ha{height:216.562500pt;}
.h2{height:338.406266pt;}
.h0{height:1142.333333pt;}
.h1{height:1142.666667pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x7{left:26.651123pt;}
.x8{left:34.029948pt;}
.x1e{left:45.090393pt;}
.xd{left:50.431580pt;}
.xf{left:124.124207pt;}
.x10{left:132.624207pt;}
.xe{left:232.874207pt;}
.x18{left:430.463938pt;}
.x4{left:432.399974pt;}
.xb{left:438.544423pt;}
.x1a{left:533.121460pt;}
.x22{left:594.795380pt;}
.x21{left:613.712046pt;}
.x25{left:658.869985pt;}
.x17{left:661.420522pt;}
.xa{left:662.992788pt;}
.x1c{left:668.475291pt;}
.x14{left:716.953715pt;}
.x19{left:734.787191pt;}
.x1b{left:742.454773pt;}
.x15{left:744.203715pt;}
.x2{left:808.527222pt;}
.xc{left:813.563924pt;}
.x1d{left:816.086873pt;}
.x16{left:912.537048pt;}
.x23{left:923.592977pt;}
.x24{left:975.759644pt;}
.x1{left:1064.804525pt;}
.x3{left:1114.778920pt;}
.x5{left:1159.464600pt;}
.x9{left:1164.931641pt;}
.x1f{left:1310.739248pt;}
.x20{left:1320.905919pt;}
.x12{left:1446.331360pt;}
.x13{left:1487.331360pt;}
.x11{left:1587.581360pt;}
.x6{left:1680.821177pt;}
}
